NODE_ENV = production
PORT = 8000
DATABASE_USERNAME = your_database_username
DATABASE_PASSWORD = your_database_password
DATABASE = your_connection_string
JWT_SECRET = your_jwt_secret
JWT_EXPIRES_IN = 90d
EMAIL_USERNAME = you_email
EMAIL_PASSWORD = your_email_app_password
